
header {
  height: 50px;
  padding: 20px;
  background-color: #fff;
}

nav {
  display: flex;  
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

div {
  background-color: blue;
  display: flex;
  flex-direction: column;
  
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

span {
  color: #fff;
  font-size: 50px;
  padding: 10px;
}